*{
    margin: 0;
    padding: 0;
    margin: 1%;
}

body{
    align-items: center;
    text-align: center;
    font-size: x-large;
    background-color: rgb(3, 153, 153);
    color: rgb(189, 255, 246);
}

input{
    border-radius: 7px;
    height: 4vh;
    width: 12vw;
    color: rgb(3, 153, 153);
    background-color: rgb(189, 255, 246);
    border-color: rgb(189, 255, 246);
}

button{
    height: 25px;
    width: 150px;
    color: rgb(3, 153, 153);
    background-color: rgb(189, 255, 246);
    border-radius: 10px;
    border-color: rgb(189, 255, 246);
}